.score h1{
font-size: 3rem;
margin: 2px;
font-weight: 700;
margin-left: 1vw;
width: 5rem;
height: 3rem;
}
.score p{
    margin-bottom: 1vw;
    margin-left: 0.2vw;
    font-weight: 600;
    width: 5rem;
}
